# ================================================
#  SAFEPASS - .gitignore
# ================================================

# Variaveis de ambiente
.env

# Maven
target/
*.class
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/
*.DS_Store

# Logs
*.log
logs/

# Uploads locais
uploads/

# Spring Boot
spring-boot-*.jar